<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Board Score Login</title>
  <link rel="stylesheet" href="style.css">
</head >
<body>
<div class="parent">
  <div class="back">
    <form method="post" th:action="@{/login}" th:object="${login}">
      <h3 style="color: lightgoldenrodyellow" class="h">Board Score</h3>
      <input type="email" th:field="*{email}" id="email" placeholder="Enter Email" required>
      <input type="password" th:field="*{password}" id="password" placeholder="Enter Password" required>
      <button type="submit">login</button>
    </form>
    <div class="down">
      <p> <a href="SignUp.html"> BoardScore SignUp</a></p>
      <p class="w"> <a href="https://decagon.institute/">Need Help?</a></p>
    </div>
  </div>
</div>
</body>
</html>